

body {
  background: blue;
  background: radial-gradient(blue, purple);
  text-align: center;
  font-family: 'Forum', cursive;
  padding: 0.5em;
  color: white;
 }
 
header {
   font-size: 2rem;
   text-align: center;
   padding: 1em;
   background-color: slategray;
   border-style: groove;
   border-color: white;
 }

h1 {
  font-family: 'Rock Salt', cursive;
  color: whitesmoke;
  font-size: 5rem;
}

h2 {
  color: purple;
  font-size: 2rem;
}

nav {
  background-color: lightslategray;
  margin: 0;
  padding: 0.3em;
  text-align: center;
}
  
nav li {
  display: inline;
  align-content: space-around;
  text-align: center;
}
 
 aside {
  float: right;
   padding-right: 0.5em;
}

section {
  align-content: center;
  border-style: groove;
  border-color: white;
  border-width: thin;
  margin-right: 25%;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.3em;
  padding: 1rem;
  background-color: mediumpurple;
}

.item-container {
  width: 23%;
  margin: 0.75em;
  padding: 0.5em;
  height: 50rem;
  border-color: white;
  flex-flow: row wrap-reverse;
  float: left;
}

.item {
  width: 30%;
  border: 2px white;
  margin: 0.5 rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.item-container img {
  width: 100%;
  align-items: center;
}

.item h3 {
  font-family: 'Rock Salt', cursive;
  padding: 1em;
}

.item p {
  color: azure;
  border: solid white;
  background-color: mediumpurple;
}