body {
  background: blue;
  background: radial-gradient(blue, purple, white);
  padding: 0.3em;
  font-family: 'Forum', cursive;
}

@media (max-width: 600px) {
  background: white;
  color: black;
}

header h1 {
  font-family: 'Rock Salt', cursive;
  color: whitesmoke;
  border-color: white;
  border-style: groove;
  font-size: 4rem;
  text-align: center;
  padding: 1em;
}

h2 {
  color: purple;
  font-size: 2rem;
}

nav {
  background-color: lightskyblue;
  overflow: hidden;
  text-align: center;
  border-color: white;
}

nav a:hover {
  background-color: lightblue;
  font-family: 'Forum', cursive;
}

a:visited {
  text-decoration: none;
  color: purple;
}

nav li {
  display: inline;
  color: white;
  font-size: 2em;
  border-color: white;
  background-color: lightskyblue;
  align-content: space-around;
  padding: 0.3em;
  min-width: 10rem;
}

@media screen and (min-width: 760px) {
    .menu-list > .list-item {
        border-width: 1px whitesmoke;
    }
    .menu-list > .list-item,
    .menu-list > .list-item a {
        display: flex;
    }
}

@media (max-width: 600px) {
  nav ul li {
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 100%;
  }
}

section {
  font-family: 'Forum', cursive;
}

section h2 {
  font-family: 'Rock Salt', cursive;
  font-size: 2em;
  color: whitesmoke;
}

 aside {
   float: right;
   padding-right: 0.5em;
   
 }

section {
  float: left;
  border: solid;
  border-color: lightskyblue;
  border-width: thick;
  width: 100%;
  margin-right: 25%;
  margin-top: 1em;
  margin-bottom: 0.2em;
  padding: 0.5rem;
}

@media (max-width: 500px) {
  section { 
    width: 90%;
  }
}


.item-container {
  flex-flow: row, wrap-reverse;
  width: 30%;
  height: 45em;
  padding: 0.5em;
  margin: .2em;
  border: 1px solid white;
  float: left;
  position: relative;
  color: lightskyblue;
}

@media (max-width: 500px) {
  .container { 
    width: 100%; 
  }
}

.item-container img {
  width: 90%;
  align-content: center;
}

@media (max-width:500px) {
  .item-container img {
    width: 100%;
  }
}

.item-container p {
  text-align: center;
  font-size: 1rem;
  color: white;
  padding: 0.5rem;
}

.item-container h3 {
  font-size: 1.5rem;
  font-family: 'Forum', cursive;
  padding: .5em;
  text-align: center;
}